.widgetPreview {
  :global {
    .ant-collapse-content-box {
      position: relative;

      div[id="widget-undefined"] {
        position: relative !important;
        max-width: 100%;
      }
    }
  }
}
